[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
macholib = "*"

[packages]
cookiecutter = {git = "https://github.com/bdwyertech/cookiecutter.git",ref = "bdwyertech",editable = true}

[requires]
python_version = "3.8"

[scripts]
build = "pyinstaller --name cookiecutter --onefile main.py --noupx --clean --hidden-import cookiecutter.extensions --hidden-import jinja2_time"
